@{
    ViewBag.Title = "Home Page";
}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>

    <meta name="description" content="Horoscope, Hindu astrology, Astrology, Astrological sign or Zodiac">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="~/Content/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>

    <div class="overlay"></div>
    @*<section class="top-part">
            <video controls autoplay loop>
                <source src="~/Content/videos/video.mp4" type="video/mp4">
                <source src="~/Content/videos/video.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </section>*@


    <section class="cd-hero">

        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>
                <ul>
                    <li class="selected"><a href="#0"><div class="image-icon"><img src="~/Content/img/home-icon.png"></div><h6>Welcome</h6></a></li>
                    <li><a href="#0"><div class="image-icon"><img src="~/Content/img/about-icon.png"></div><h6>About Us</h6></a></li>
                    <li><a href="#0"><div class="image-icon"><img src="~/Content/img/featured-icon.png"></div><h6>Follow Us</h6></a></li>
                    <li><a href="#0"><div class="image-icon"><img src="~/Content/img/contact-icon.png"></div><h6>Contact Us</h6></a></li>
                    <li class="external"><a href="~/Home/M"><div class="image-icon"><img src="~/Content/img/m2.png"></div><h6>Malayalam</h6></a></li>

                </ul>
            </nav>
        </div> <!-- .cd-slider-nav -->
        <ul class="cd-hero-slider">

            <li class="selected">
                <div class="heading">
                    <h1>Thrisakthi Devasthanam</h1>
                    <span>Chandrasekharan P.V.</span>
                </div>
                <div class="cd-full-width first-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content first-content">
                                    <h4>Let’s Talk More About Thrisakthi Devasthanam</h4>
                                    <p>
                                        Are you suffering from various difficulties in any or many fields througout your life?
                                        If you wish to resolve such problems by means of the astrological guidance and the divine rituals
                                        (such as Homa Karmas, etc.) are most welcome. No direct presence is required for remedial procdures.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="heading">
                    <h1>About Us</h1>
                    <span>Get More Info About Thrisakthi Devasthanam</span>
                </div>
                <div class="cd-half-width second-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content second-content">
                                    <div class="row">
                                        <div class="col-md-7 left-image">
                                            <img src="~/Content/img/jyothisham.jpg">
                                        </div>
                                        <div class="col-md-5">
                                            <div class="right-about-text">

                                                <h4>What we do?</h4>
                                                <p>
                                                    Individual Consultation <br />
                                                    Horoscope <br />
                                                    Compatability Check<br />
                                                    Auspicious Time<br />
                                                    Homa Karmas (Remedial Procedures) <br />
                                                    Various Rituals<br />
                                                    Diverse Yantras /Elas <br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="left-about-text">
                                                <h4>Who we are?</h4>
                                                <p>
                                                    For every ailment that affecting the every field of our life, there are certain prospective and divine remedial measures to relieve it and regenerate a successful life.
                                                    Astrological guidance integrated with dedicated rituals such as Homa Karmas, Poojas, etc. powered by divine justice, are the most favoured in remedial procedures.
                                                    We perform the above for the benefits of everyone who are suffering the ill-fortune throughout their life.
                                                    Those who wish to discuss their problems are most welcome. Please call. No direct presence is required for rituals.
                                                </p>

                                            </div>
                                        </div>
                                        <div class="col-md-5 right-image">
                                            <img src="~/Content/img/homakarma.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="heading">
                    <h1>FOLLOW US ON</h1>
                    <span></span>
                </div>
                <div class="cd-half-width third-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content third-content">
                                    <div class="row">
                                        <div class="col-md-7 left-image">
                                            <img src="~/Content/img/left-feature-image.png">
                                        </div>
                                        <div class="col-md-5">
                                            <div class="right-feature-text content fivth-content">
                                                <h4>Follow us on:</h4>
                                                <ul class="social-icons">
                                                    <i><a href="https://www.facebook.com/ThrisakthiDev/" target="_blank"><i class="fa fa-facebook"></i></a></i>
                                                    <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            @*<li>
                    <div class="heading">
                        <h1>Our projects</h1>
                        <span>Here you can check our recent projects</span>
                    </div>
                    <div class="cd-half-width fourth-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content fourth-content">
                                        <div class="row">
                                            <div class="col-md-3 project-item">
                                                <a href="~/Content/img/item-01.jpg" data-lightbox="image-1"><img src="~/Content/img/project-item-01.jpg"></a>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <a href="~/Content/img/item-02.jpg" data-lightbox="image-1"><img src="~/Content/img/project-item-02.jpg"></a>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <a href="~/Content/img/item-03.jpg" data-lightbox="image-1"><img src="~/Content/img/project-item-03.jpg"></a>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <a href="~/Content/img/item-04.jpg" data-lightbox="image-1"><img src="~/Content/img/project-item-04.jpg"></a>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <a href="~/Content/img/item-05.jpg" data-lightbox="image-1"><img src="~/Content/img/project-item-05.jpg"></a>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <a href="~/Content/img/item-06.jpg" data-lightbox="image-1"><img src="~/Content/img/project-item-06.jpg"></a>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <a href="~/Content/img/item-07.jpg" data-lightbox="image-1"><img src="~/Content/img/project-item-07.jpg"></a>
                                            </div>
                                            <div class="col-md-3 project-item">
                                                <a href="~/Content/img/item-08.jpg" data-lightbox="image-1"><img src="~/Content/img/project-item-08.jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>*@

            <li>
                <div class="heading">
                    <h1>Contact us</h1>
                    <span>You'll be responded within 48 hrs</span>
                </div>
                <div class="cd-half-width fivth-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content fivth-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="left-info">
                                                <p><h3>Address</h3></p>
                                                <p>
                                                    Chandrasekharan P.V<br /><br />
                                                    Astrologer<br />
                                                    Thrisakthi Devasthanam<br />
                                                    P.O.Vadakkekkara<br />
                                                    N. Paravur<br />
                                                    Ernakulam Dist.<br />
                                                    Pin: 683522<br /><br />
                                                    Phone No.<br />
                                                    +919744845374 / +917736045374<br /><br />
                                                    (8am to 10pm)
                                                </p>
                                                <ul class="social-icons">
                                                    <i><a href="https://www.facebook.com/ThrisakthiDev/" target="_blank"><i class="fa fa-facebook"></i></a></i>
                                                    <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                                                    @*<i><a href="#"><i class="fa fa-linkedin"></i></a></i>
                                                        <i><a href="#"><i class="fa fa-rss"></i></a></i>
                                                        <i><a href="#"><i class="fa fa-behance"></i></a></i>*@
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            @*<div class="row">
                                                    <form id="contact" action="" method="post">
                                                        <div class="col-md-6">
                                                            <fieldset>
                                                                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <fieldset>
                                                                <input name="email" type="email" class="form-control" id="email" placeholder="Email" required="">
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <fieldset>
                                                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required=""></textarea>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <fieldset>
                                                                <button type="submit" id="form-submit" class="btn">Send Message</button>
                                                            </fieldset>
                                                        </div>
                                                    </form>
                                                </div>*@
                                            <!---------GOOGLE MAP-------------->
                                            <style>
                                                #map {
                                                    height: 410px;
                                                    width: 100%;
                                                }
                                            </style>
                                            <div class="col-sm-10">
                                                <h2>Google Map</h2>
                                                <div id="map"></div>
                                            </div>
                                            <script>
                                                function initMap() {
                                                    var uluru = { lat: 10.163631, lng: 76.210514 };
                                                    var map = new google.maps.Map(document.getElementById('map'), {
                                                        zoom: 7,
                                                        center: uluru
                                                    });
                                                    var marker = new google.maps.Marker({
                                                        position: uluru,
                                                        map: map
                                                    });
                                                }
                                            </script>
                                            <script async defer
                                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP5Egj1zEcFVArv-yg0ZZmwnB0lKFBbKg&callback=initMap">
                                            </script>
                                            <!---------END GOOGLE MAP-------------->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul> <!-- .cd-hero-slider -->
    </section> <!-- .cd-hero -->


    <footer>
        <p>
            Copyright &copy; 2017 Thrisakthi Devasthanam
            | Designed by <a href="http://www.templatemo.com" target="_parent"><em>templatemo</em></a>
        </p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Content/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/main.js"></script>

</body>
</html>