body {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fbtw i {
margin-right: 10px;
    color: #000;
    font-size: 15px;
    width: 34px;
    height: 34px;
    background-color: #ffbb05;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
}

.fbtw i:hover {
    background-color: #fff;
}