@{
    ViewBag.Title = "Home Page";
}
<br /><br /><br /><br />
<div class="jumbotron">
    <h1>Thrisakthi Devasthanam</h1>
    <p class="lead">
        <br /><br />For every ailment that affecting the every field of our life, there are certain prospective and divine remedial measures to relieve it and regenerate a successful life.
        </p><p>Astrological guidance integrated with dedicated rituals such as Homa Karmas, Poojas, etc. powered by divine justice, are the most favoured in remedial procedures.
        </p><p>We perform the above for the benefits of everyone who are suffering the ill-fortune throughout their life.
        </p><p>Those who wish to discuss their problems are most welcome. Please call. No direct presence is required for rituals.
        </p>   
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>