.container {
  padding: 20px 0;
}

.carousel-inner {
  overflow: visible;
  width: 100%;
}
.carousel-inner > .item > img {
  margin: auto;
  width: 70%;
}

.carousel-caption {
  text-align: left;
  text-shadow: none;
  left: 70%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption > h3 {
  color: #ddd;
  font-size: 18px;
  font-stretch: ultra-condensed;
  font-weight: 700;
  margin: 0 0 16px;
  text-transform: uppercase;
}
@media (min-width:  768px) { .carousel-caption > h3 { font-size: 24px; } }
@media (min-width:  992px) { .carousel-caption > h3 { font-size: 30px; } }
@media (min-width: 1200px) { .carousel-caption > h3 { font-size: 36px; } }
.carousel-caption > p {
  color: whitesmoke;
}
 
.carousel-control,
.carousel-control:hover {
  color: black;
  filter: none;
  opacity: 1;
  text-shadow: none;
  width: 30%;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-indicators li,
.carousel-indicators li.active {
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-indicators {
  position: absolute;
  top: auto;
  bottom: 10px;
  margin: 0;
}
.carousel-control .glyphicon-chevron-left {
  left: 10px;
}
.carousel-control .glyphicon-chevron-right {
  right: 10px;
}
@media (min-width: 768px) { 
  .carousel-control .glyphicon-chevron-right {
    right: auto;
    left: -395px; /* = 10px + 4 x 40px - 70% x Container width 750px */
  }
}
@media (min-width: 992px) {
  .carousel-control .glyphicon-chevron-right {
    left: -549px; /* = 10px + 4 x 40px - 70% x Container width 970px */
  }
}
@media (min-width: 1200px) {
  .carousel-control .glyphicon-chevron-right {
    left: -689px; /* = 10px + 4 x 40px - 70% x Container width 1170px */
  }
}
.carousel-control:hover .glyphicon-chevron-left,
.carousel-control:hover .glyphicon-chevron-right {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.carousel-indicators {
  left: 50px; /* = left + width form .glyphicon-chevron-left */
  width: auto;
}
.carousel-indicators li,
.carousel-indicators li.active {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: black;
  cursor: auto;
  display: none;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: -1px;
  text-align: center;
  text-indent: 0;
  white-space: nowrap;
}
.carousel-indicators li.active {
  display: inline-block;
}
